html, body {
  margin: 0;
  padding: 0;
  // width: 100%;
  // height: 100%;
  // overflow: hidden;
  transform: translateZ(0);
  will-change: transform;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

#root {
  font-family:
  Inter, Ginto,ui-sans-serif,'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: visible;
  position: relative;
}

:root {
  --sky-color-primary: #409EFF;
  --sky-color-success: #67C23A;
  --sky-color-warning: #E6A23C;
  --sky-color-light-warning: #e0cd3a;
  --sky-color-danger: #F56C6C;
  --sky-color-info: #909399;
  --sky-text-color-primary: #303133;
  --sky-text-color-regular: #606266;
  --sky-text-color-secondary: #909399;
  --sky-text-color-placeholder: #A8ABB2;
  --sky-text-color-disabled: #C0C4CC;
  --sky-border-color-darker: #CDD0D6;
  --sky-border-color-dark: #D4D7DE;
  --sky-border-color: #DCDFE6;
  --sky-border-color-light: #E4E7ED;
  --sky-border-color-lighter: #EBEEF5;
  --sky-border-color-extra-light: #F2F6FC;
  --sky-fill-color-darker: #E6E8EB;
  --sky-fill-color-dark: #EBEDF0;
  --sky-fill-color: #F0F2F5;
  --sky-fill-color-light: #F5F7FA;
  --sky-fill-color-lighter: #FAFAFA;
  --sky-fill-color-extra-light: #FAFCFF;
  --sky-bg-color-page: #F2F3F5;
  --sky-bg-color-base: #FFFFFF;
  --sky-bg-color-overlay: #FFFFFF;
  --sky-color-black: #000000;
  --sky-color-white: #FFFFFF;
  --sky-color-transparent: transparent;
}

#root {
  color: var(--sky-text-color-regular);
  background-color: var(--sky-bg-color-base);
}

#root[theme="dark"] {
  --sky-color-primary: #409EFF;
  --sky-color-success: #67C23A;
  --sky-color-warning: #E6A23C;
  --sky-color-danger: #F56C6C;
  --sky-color-info: #909399;
  --sky-text-color-primary: #E5EAF3;
  --sky-text-color-regular: #CFD3DC;
  --sky-text-color-secondary: #A3A6AD;
  --sky-text-color-placeholder: #8D9095;
  --sky-text-color-disabled: #6C6E72;
  --sky-border-color-darker: #4C4D4F;
  --sky-border-color-dark: #58585B;
  --sky-border-color: #242526;
  --sky-border-color-light: #72747A;
  --sky-border-color-lighter: #8B8D93;
  --sky-border-color-extra-light: #9DA3AD;
  --sky-fill-color-darker: #242424;
  --sky-fill-color-dark: #1D1D1D;
  --sky-fill-color: #141414;
  --sky-fill-color-light: #0A0A0A;
  --sky-fill-color-lighter: #000000;
  --sky-fill-color-extra-light: #0F0F0F;
  --sky-bg-color-page: #0A0A0A;
  --sky-bg-color-base: #141414;
  --sky-bg-color-overlay: #1D1E1F;
  --sky-color-black: #000000;
  --sky-color-white: #FFFFFF;
  --sky-color-transparent: transparent;
}


.liquidweb.liquidweb-initialized {
  z-index: 1000;
}
