// 滚动条样式
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
  
  &:hover {
    background: var(--scrollbar-thumb-hover);
  }
}

// 亮色主题
:root {
  --scrollbar-thumb: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-hover: rgba(0, 0, 0, 0.3);
}

// 暗色主题
.dark {
  --scrollbar-thumb: rgba(255, 255, 255, 0.2);
  --scrollbar-thumb-hover: rgba(255, 255, 255, 0.3);
}


div[data-container-name] input, div[data-container-name] div {
  color: var(--sky-text-color-primary) !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded{
  z-index: 10001 !important;
  .MuiColorInput-PopoverBody{
    position: relative;
    z-index: 100002 !important;
  }
}