navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 16px;
  border-bottom: 1px solid var(--sky-border-color);
  background: var(--sky-fill-color);
  color: var(--sky-text-color-primary);
}